.products {
  background-color: #f7f7f7;
 
}

.product h1 {
  padding-top: 50px;
  max-width: 389px;
  height: 52px;
  font-size: 42px;
  line-height: 49.22px;
  color: #1e1e1e;
  font-family: "Gilroy Bold";
  font-weight: 700;
}
.product {
  display: flex;
  justify-content: center;
  padding-bottom: 38px;
}

.productblock {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 538px;
  max-width: 348px;
  background-color: darkgray;
  border-radius: 30px;
  height: 57px;
  &__item {
    font-size: 18px;
    line-height: 33.3px;
    padding: 6px;
    font-family: "Gilroy Regular";
    font-weight: 400;
  }
}
.productbox__items-box{
  max-width: 435px;
  max-height: 185px;
  background-color: white;
}
.productbox {
  display: flex;
  gap: 42px;
  margin-left: 121px;
  margin-right: 120px;
  margin-top: 50px;
  position: relative;
&__item-chair{
  max-width: 268px;
  max-height: 260px;
}
&__item-sakarias {
  max-width: 268px;
  max-height: 260px;
}
&__item-anjay {
  max-width: 268px;
  max-height: 260px;
}
&__item-nuntuy {
  max-width: 268px;
  max-height: 260px;
}

  &__btn-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  &__btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    transform: translateY(-50%);
    top: 50%;
    right: 115px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
  }
  &__item {
    border-radius: 10px;
    border: 2px solid white;
    max-width: 269px;
    max-height: 450px;
   
   

    &-page {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: #8d8d8d;
      font-size: 1rem;
      line-height: 20.28px;
      padding-top: 13px;
      padding-left: 13px;
      padding-right: 122px;
    }
    &-subtitle {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      color: #0d1b39;
      font-size: 22px;
      line-height: 25.81px;
      padding-top: 6px;
      padding-left: 13px;
    }
    &-lists {
      display: flex;
      padding-left: 13px;
      padding-right: 122px;
    }
    &-list {
      display: flex;
      gap: 5rem;
      margin-top: 32.56px;
      padding-bottom: 30px;
      padding-left: 13px;
      padding-right: 12px;
    }
    &-list p {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      color: #0d1b39;
      font-size: 21.33px;
      line-height: 25.81px;
    }
    &-list img {
      max-width: 39px;
      max-height: 39px;
    }
  }
}
.productboxs {
  margin-left: 740px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-bottom: 60px;
}
.productboxs a {
  color: orangered;
  font-size: 18px;

}
.productboxs svg {
  color: orangered;
  padding-top: 4px;
}
