.products {
  background-color: #f7f7f7;
}

.product h1 {
  padding-top: 50px;
  max-width: 389px;
  height: 52px;
  font-size: 42px;
  line-height: 49.22px;
  color: #1e1e1e;
  font-family: "Gilroy Bold";
  font-weight: 700;
}

.product {
  display: flex;
  justify-content: center;
  padding-bottom: 38px;
}

.productblock {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 538px;
  max-width: 348px;
  background-color: darkgray;
  border-radius: 30px;
  height: 57px;
}
.productblock__item {
  font-size: 18px;
  line-height: 33.3px;
  padding: 6px;
  font-family: "Gilroy Regular";
  font-weight: 400;
  background-color: darkgray;
  border: darkgray;
}
.productblock__item:hover {
  background-color: #f7f7f7;
  border-radius: 70px;
  width: 84px;
  height: 55px;
  cursor: pointer;
}

.productbox__items-box {
  max-width: 435px;
  max-height: 185px;
  background-color: white;
}

.productbox {
  display: flex;
  justify-content: center;
  gap: 42px;
}
.productbox__item-chair {
  max-width: 268px;
  max-height: 260px;
}
.productbox__item-sakarias {
  max-width: 268px;
  max-height: 260px;
}
.productbox__item-anjay {
  max-width: 268px;
  max-height: 260px;
}
.productbox__item-nuntuy {
  max-width: 268px;
  max-height: 260px;
}
.productbox__btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  transform: translateY(-50%);
  left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 250px;
  margin-top: 250px;
}
.productbox__btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transform: translateY(-50%);
  left: 1130px;
  width: 50px;
  margin-top: 250px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
}
.productbox__item {
  border-radius: 10px;
  border: 2px solid white;
  max-width: 269px;
  max-height: 450px;
  transition: 1s;
}
.productbox__item-page {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #8d8d8d;
  font-size: 1rem;
  line-height: 20.28px;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 122px;
}
.productbox__item-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #0d1b39;
  font-size: 22px;
  line-height: 25.81px;
  padding-top: 6px;
  padding-left: 13px;
}
.productbox__item-lists {
  display: flex;
  padding-left: 13px;
  padding-right: 122px;
}
.productbox__item-list {
  display: flex;
  gap: 5rem;
  margin-top: 32.56px;
  padding-bottom: 30px;
  padding-left: 13px;
  padding-right: 12px;
}
.productbox__item-list p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #0d1b39;
  font-size: 21.33px;
  line-height: 25.81px;
}
.productbox__item-list button {
  width: 39px;
  height: 39px;
  padding: -4px;
  background-color: #0d1b39;
  border-radius: 50px;
  color: #f7f7f7;
  font-size: 35px;
}

.productboxs {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productboxs a {
  color: orangered;
  font-size: 18px;
  position: relative;
}

.productboxs a::after {
  content: url("../../../img/svg/Vector.svg");
  position: absolute;
  right: -40px;
  top: 10%;
  height: 100px;
  width: 30px;
}

.productboxs svg {
  color: orangered;
  padding-top: 4px;
}/*# sourceMappingURL=products.css.map */