@media(max-width:767px){
    .header{
        &__content{
            display: flex;
            justify-content: space-evenly;
            gap:10px
        }
        &__menu{
            display: flex;
            gap: 25px 
            
        }
        &__menu-list{
            font-size: 6px;
        }
    }
    .muhmalistic{
        &__title{
            font-size:16px
        }
        &__page{
            font-size:16px;
            max-width: 350px;
        }
    }
    .chousing{
        display: flex;
        flex-direction: column;
        &__us-title{
            font-size:24px;
        }
        &__luxury-title{
            font-size: 18px;
            line-height:8.13px
        }
    }
    .product h1{
            font-size:22px;
            line-height:19.22px;
        }
        
    
   .productblock{
        display: flex;
        justify-content: space-evenly;
       width: 348px;
        background-color: darkgray;
        border-radius: 10px;
       margin-left: 150px;
       &__item{
        font-size:18px;
        line-height:33.3px;
        padding: 6px;
        font-family: 'Gilroy Regular';
        font-weight: 400;
    }
    }
   
}
