@import url("https://fonts.googleapis.com/css2?family=Annapurna+SIL&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter&display=swap");
// font-family: "Inter", sans-serif;
//font-weight: 400;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
// font-family: "Inter", sans-serif;
//font-weight: 800;
@import url("https://fonts.googleapis.com/css2?family=Annapurna+SIL&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
// font-family: "Inter", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
//   font-variation-settings:
//     "slnt" 0;
@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@600&display=swap');
//font-family: "Inter", sans-serif;
//font-weight: 600;
@font-face {
  font-family: "Gilroy Medium";
  src: url("Gilroy-Medium.eot");
  src: url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Medium.woff") format("woff"),
    url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
//.box-name {font-family: 'Gilroy Medium';font-weight:500 }
@font-face {
  font-family: "Gilroy Bold";
  src: url("Gilroy-Bold.eot");
  src: url("Gilroy-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
//.box-name {font-family: 'Gilroy Bold';font-weight: 700;}
@font-face {
  font-family: "Gilroy Regular";
  src: url("Gilroy-Regular.eot");
  src: url("Gilroy-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
//.box-name {font-family: 'Gilroy Regular';font-weight: 400;}
// ссылка на шрифт https://webfonts.pro/base-web-fonts/sans-serif-grotesque/369-gilroy.html
