.magazin {
  animation-duration: 3s;
  animation-name: slide;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.add {
  animation-duration: 3s;
  animation-name: add;
}
@keyframes add {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.-loading-add {
  animation: rotating 2s linear infinite;
}
.muhmalistic__title:hover {
  translate: 350px;
}

.muhmalistic__page:hover {
  transform: scale(1.1);
}
.productblock:hover{
  transform: scale(1.1);
}
.productbox__item:hover{
  transform: scale(1.3);
}
.productboxs a:hover{
  color: darkviolet;
}